* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
	background-color: rgb(81, 190, 81);
	height: 50px;
	text-align: center;
}
header h1{
	color: rgb(255, 255, 255);
}
main{
	text-align: center;
}
main img{
	width: 50%;
}